{% load static %} {% load staticfiles %}{% load widget_tweaks %}
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Global -->
  <title>SquidDjango</title>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8" />

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
</head>

<body class="grey lighten-4">
  <div class="row">
    <ul id="slide-out" class="col m4 l3 side-nav fixed green accent-3 z-depth-2 hide-on-small-only tr">
      <div class="center"><a href={% url 'main:index' %} class="white-text title">CENTRO DE GESTION</a></div>
<div class="center"><a href='/admin' class="white-text title">ADMIN</a></div>
      <div class="divider green darken-1"></div>
      <div class="v-align">
        <li><a id="btn-ca" href="#!"><i class="material-icons">add</i><span>Categoria</span></a></li>
        <li><a id="btn-pa" href="#!"><i class="material-icons">add</i><span>Persona</span></a></li>
        <li><a id="btn-po" href="#!"><i class="material-icons">add</i><span>Permiso</span></a></li>
        <li><a id="btn-au" href="#!"><i class="material-icons">add</i><span>Aula</span></a></li>
      </div>

      <!-- FORMS -->

      <!-- Categoria -->
      <div class="row" id="category-form">
        <form method="post" action="/category" class="col s12" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-field col s12">
            {% render_field form_category.name type="search" id="name" %}
            <label for="name">Name</label>
          </div>
          <div class="input-field col s12">
            {% render_field form_category.description type="search" id="description" %}
            <label for="description">Description</label>
          </div>
          <div class="input-field col s12">
            {% render_field form_category.permission class+="materialize-textarea" data-length="200" %}
            <label for="textarea1">Textarea</label>
          </div>

          <div class="col s12 center">
            <br>
            <button type="submit" class="btnSave btn z-depth-0" style="background-color: #00c967;">Guardar</button>
          </div>
        </form>

      </div>

      <!-- Persona -->
      <div class="row" id="persona-form">
        <form class="col s12" enctype="multipart/form-data" method="post" action="/person">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12 box">
              <input id="person_name" type="text" class="white-text" name="person_name">
              <label for="person_name">Nombre</label>
            </div>
            <div class="input-field col s12 box">
              <input id="person_description" type="text" class="white-text" name="person_description">
              <label for="person_description">Descripción</label>
            </div>
            <div class="input-field col s12 box">
              <input id="person_ip" type="text" class="white-text" name="person_ip">
              <label for="person_ip">IP</label>
            </div>
            <div class="input-field col s12">
              <select multiple name="person_category">
                  <option value="" disabled selected class="white-text">Choose your option</option>
                  {% for category in categorys %}
                  <option value={{category.id}}>{{category.name}}</option>
                  {% endfor %}
                </select>
              <label>Categorias</label>
            </div>
            <div class="input-field col s12">
              <select multiple="multiple" name="person_permission">
                  <option value="" disabled selected class="white-text">Choose your option</option>
                  {% for permiso in permisos%}
                  <option value={{permiso.id}}>{{permiso.name}}</option>
                  {%endfor%}
                </select>
              <label>Permisos</label>
            </div>
            <div class="col s12 center">
              <br>
              <button type="submit" class="btnSave btn z-depth-0" style="background-color: #00c967;">Guardar</button>
            </div>
          </div>
        </form>
      </div>

      <!-- Permiso -->
      <div class="row" id="permiso-form">
        <form method="post" action="/perm" class="col s12" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-field col s12">
            {% render_field form_permission.name type="permission_name" id="name" %}
            <label for="permission_name">Nombre</label>
          </div>
          <div class="input-field col s12">
            {% render_field form_permission.description type="permission_description" id="name" %}
            <label for="permission_description">Descripcion</label>
          </div>
          <div class="switch center">
            <label class="white-text">
                        Black List
                        {% render_field form_permission.is_white_list  type="checkbox" %}
                        <span class="lever white-text"></span>
                        White List
                        </label>
          </div><br>
          <div class="input-field col s12">
            {% render_field form_permission.permission class+="materialize-textarea" id="textarea2" %}
            <label for="textarea2">Textarea</label>
          </div>
          <div class="col s12 center">
            <button type="submit" class="btnSave btn z-depth-0" style="background-color: #00c967;">Guardar</button>
          </div>

        </form>
      </div>

      <!-- Aula -->
      <div class="row" id="aula-form">
        <form class="col s12" action="/group" method="post">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s12 box">
              <input id="aula_name" type="text" class="white-text" name="aula_name">
              <label for="aula_name">Nombre</label>
            </div>
            <div class="input-field col s12 box">
              <input id="aula_description" type="text" class="white-text" name="aula_description">
              <label for="aula_description">Descripcion</label>
            </div>
            <div class="input-field col s12 box">
              <input id="aula_red" type="text" class="white-text" name="aula_red">
              <label for="aula_red">IP</label>
            </div>
            <div class="input-field col s12 box">
              <input id="aula_subnet" type="text" class="white-text" name="aula_subnet">
              <label for="aula_subnet">Subnet</label>
            </div>
            <div class="input-field col s12">
              <select multiple name="group_category">
                  <option value="" disabled selected class="white-text">Choose your option</option>
                  {% for category in categorys %}
                  <option value={{category.id}}>{{category.name}}</option>
                  {% endfor %}
                </select>
              <label>Categorias</label>
            </div>
            <div class="input-field col s12">
              <select multiple name="group_permission">
                  <option value="" disabled selected class="white-text">Choose your option</option>
                  {% for permiso in permisos%}
                  <option value={{permiso.id}}>{{permiso.name}}</option>
                  {%endfor%}
                </select>
              <label>Permisos</label>
            </div>
            <div class="col s12 center">
              <button type="submit" class="btnSave btn z-depth-0" style="background-color: #00c967; margin-bottom:20px;">Guardar</button>
            </div>
          </div>
        </form>
      </div>

    </ul>
    <!-- CARDS -->
    <div class="cont-cards">

      <!-- Persona -->
      {%for person in persons%}
      <div class="row col s12 m11 l6 nomargin">
        <div class="card white z-depth-1">
          <div class="card-content white-text">
            <span class="card-title black-text">{{person.name}}</span>
            <p class="grey-text text-darken-1">{{person.description}}}</p>
          </div>
          <div class="card-action">
            <a class="grey-text noupper">23 de Octubre de 2017</a>
            <a class="right"><i class="material-icons blue-text blue-text text-lighten-1">person</i></a>
          </div>
        </div>
      </div>
      {%endfor%}

      <!-- Aula -->
      {% for aula in aulas %}
      <div class="row col s12 m11 l6 nomargin">
        <div class="card white z-depth-1">
          <div class="card-content white-text">
            <span class="card-title black-text">{{ aula.name}}</span>
            <p class="grey-text text-darken-1">{{ aula.description}}</p>
          </div>
          <div class="card-action">
            <a class="grey-text noupper">24 de Mayo de 2017</a>
            <a class="right"><i class="material-icons blue-grey-text text-lighten-1">class</i></a>
          </div>
        </div>
      </div>
      {%endfor%}
      <!-- Permiso -->
      {% for permiso in permisos %}
      <div class="row col s12 m11 l6 nomargin">
        <div class="card white z-depth-1">
          <div class="card-content white-text">
            <span class="card-title black-text">{{permiso.name}}</span>
            <p class="grey-text text-darken-1">
            {{permiso.description}}
            </p>
          </div>
          <div class="card-action">
            <a class="grey-text noupper">24 de Mayo de 2017</a>
            <a class="right"><i class="material-icons yellow-text blue-text text-darken-1">lock</i></a>
          </div>
        </div>
      </div>
      {% endfor %}

      <!-- Categoria -->
      {% for category in categorys%}
      <div class="row col s12 m11 l6 nomargin">
        <div class="card white z-depth-1">
          <div class="card-content white-text">
            <span class="card-title black-text">{{category.name}}</span>
            <p class="grey-text text-darken-1">{{category.description}}</p>
          </div>
          <div class="card-action">
            <a class="grey-text noupper">24 de Mayo de 2017</a>
            <a class="right"><i class="material-icons red-text text-lighten-1">loyalty</i></a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script>
    var ani_completed = false;

    $(document).ready(function() {

      $("#category-form").hide();
      $("#persona-form").hide();
      $("#permiso-form").hide();
      $("#aula-form").hide();
      $('select').material_select();
      $('.button-collapse').sideNav();
      $(".side-nav li a").click(function(e) {
        if (ani_completed == false) {

          switch ($(this).attr('id')) {
            case 'btn-ca':
              $("#category-form").delay(300).fadeIn("fast");
              break;
            case 'btn-pa':
              $("#persona-form").delay(300).fadeIn("fast");
              break;
            case 'btn-po':
              $("#permiso-form").delay(300).fadeIn("fast");
              break;
            case 'btn-au':
              $("#aula-form").delay(300).fadeIn("fast");
              break;
          }
          $('.side-nav li a').not(this).each(function() {
            $(".side-nav li i").text("remove");

            $(this).css({
              "visibility": "hidden",
              display: 'block'
            }).slideUp();

            $(".v-align").animate({
              paddingTop: "5vh",
              height: "15vh"
            }, 0, function() {

            });
          });
          ani_completed = true;
        } else {
          $('.side-nav li a').not(this).each(function() {
            $(".side-nav li i").text("add");
            $(this).css({
              "visibility": "visible",
              display: 'block'
            }).slideDown();

            $(".v-align").animate({
              paddingTop: "30vh"
            }, 0, function() {
              $("#category-form").hide();
              $("#permiso-form").hide();
              $("#persona-form").hide();
              $("#aula-form").hide();
            });
          });
          ani_completed = false;
        }
      });
    });
  </script>

</body>

</html>
